In [1]:
l = [1,2,4,4.3,3.2,[10,20,1.5,3.6],5]

In [2]:
for i in l:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
4 <class 'int'>
4.3 <class 'float'>
3.2 <class 'float'>
[10, 20, 1.5, 3.6] <class 'list'>
5 <class 'int'>

In [3]:
l

[1, 2, 4, 4.3, 3.2, [10, 20, 1.5, 3.6], 5]

In [4]:
for i in l:
    if type(i) == list:
        for data in i:
            print(data)

10
20
1.5
3.6

In [5]:
l

[1, 2, 4, 4.3, 3.2, [10, 20, 1.5, 3.6], 5]

In [6]:
for i in l:
    if type(i) == int:
        print(i)
    elif type(i) == list:
        for data in i:
            if type(data) == int:
                print(data)

1
2
4
10
20
5

In [7]:
for i in 'Hello Python':
    print(i)

H
e
l
l
o

P
y
t
h
o
n

In [8]:
l1 = ['Hello', 'Python', 'Data', 'Science',1]

In [9]:
for i in l1:
    print(i)

Hello
Python
Data
Science
1

In [10]:
for i in l1:
    if type(i) == str:
        for data in i:
            print(data)

H
e
l
l
o
P
y
t
h
o
n
D
a
t
a
S
c
i
e
n
c
e

In [11]:
a = []
for i in l1:
    if type(i) == str:
        for data in i:
            a.append(data)

In [12]:
a

['H',
 'e',
 'l',
 'l',
 'o',
 'P',
 'y',
 't',
 'h',
 'o',
 'n',
 'D',
 'a',
 't',
 'a',
 'S',
 'c',
 'i',
 'e',
 'n',
 'c',
 'e']

In [13]:
a.count('e')

3

In [14]:
for i in l1:
    if type(i) == str:
        for data in i:
            print('My name starts with',data)

My name starts with H
My name starts with e
My name starts with l
My name starts with l
My name starts with o
My name starts with P
My name starts with y
My name starts with t
My name starts with h
My name starts with o
My name starts with n
My name starts with D
My name starts with a
My name starts with t
My name starts with a
My name starts with S
My name starts with c
My name starts with i
My name starts with e
My name starts with n
My name starts with c
My name starts with e

In [15]:
# Break Continue pass

# Break

In [16]:
for i in 'Data Science':
    if i == 'e':
        break
    print(i)

D
a
t
a

S
c
i

In [17]:
s = ['Vaibhav', 'Rahul', 'Aditi', 'Anushka']

In [18]:
for i in s:
    if i  == 'Rahul':
        break
    print('You have recived Certification', i)

You have recived Certification Vaibhav

In [19]:
for i in range(1,6):
    if i == 3:
        break
    print(i)

1
2

# Continue

In [20]:
for i in 'Data Science':
    if i == 'a':
        continue
    print(i)

D
t

S
c
i
e
n
c
e

In [21]:
s

['Vaibhav', 'Rahul', 'Aditi', 'Anushka']

In [22]:
for i in s:
    if i == 'Rahul':
        continue
    print(i)

Vaibhav
Aditi
Anushka

In [23]:
for i in range(1,6):
    if i == 3:
        continue
    print(i)

1
2
4
5

# Pass

In [25]:
for i in s:

SyntaxError: incomplete input (3056581046.py, line 1)

In [26]:
for i in s:
    pass

In [27]:
s

['Vaibhav', 'Rahul', 'Aditi', 'Anushka']

In [28]:
for i in s:
    if i == 'Rahul':
        pass
    else:
        print(i)

Vaibhav
Aditi
Anushka

In [29]:
if 5 > 10:
    pass