# 1.Print Numbers from 1 to 10:

Write a program using a for loop to print numbers from 1 to 10:

In [1]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

# 2.Print Each Character in a String

Ask the user to enter a word and use a for loop to print each character in the word

In [3]:
word = input("Enter a word: ")
for char in word:
    print(char)

Enter a word:  Hellow

H
e
l
l
o
w

# 3.Count Up and Down

Use a For loop to print numbers from 1 to 5 and then back down to 1

In [5]:
for i in range(1, 6):
    print(i)
for i in range(4, 0, -1):
    print(i)

1
2
3
4
5
4
3
2
1

# 4.Print Elements of a list

Define a list of fruits (["apple", "banana", "cherry", "date"]) and use a for loop  to Print each fruits in the list

In [7]:
fruits = ["apple", "banana", "cherry", "date"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry
date

# 5.Print Even Numbers between 1 to 10

Use a for loop to print all even numbers between 1 to 10

In [8]:
for i in range(1, 11):
    if i % 2 == 0:
        print(i)

2
4
6
8
10

# 6.Simple sum of a list :

write a program that calculates the sum of numbers list ([1,2,3,4,5]) using a for loop

In [9]:
numbers = [1, 2, 3, 4, 5]
total = 0
for num in numbers:
    total += num
print("The sum is:", total)

The sum is: 15

# 7.Count Down from 1 to 5

Use a for loop to Print numbers in revers for 1 to 5

In [10]:
for i in range(5, 0, -1):
    print(i)

5
4
3
2
1

# 8. Square each numbers in list:

Give a list of numbers [1, 2, 3, 4, 5] use a for loop to print the square of each number

In [11]:
numbers = [1, 2, 3, 4, 5]
for num in numbers:
    print(num ** 2)

1
4
9
16
25

# Repeat a Word Multiple Times:

Ask the user for a word and a number N.Use a for loop to print the word N times

In [14]:
word = input("Enter a word: ")
n = int(input("Enter a number: "))
for i in range(n):
    print(word)

Enter a word:  Hi
Enter a number:  3

Hi
Hi
Hi