# Python Basics And Data Type

1.Variable Manipulation

Define variables to store a students name,age,GAP,and list of Subjects.

In [1]:
Name = 'Seema'
Age  = 25
GAP  = 3.70
Subject = 'Math'

In [2]:
Name

'Seema'

In [3]:
Age

25

In [4]:
GAP

3.7

In [5]:
Subject

'Math'

Convert age from years to months and display  the result

In [6]:
Age * 12

300

Concatenate and print a sentence using all the defined variable

In [14]:
print('Student ' + Name + ' is ' + str (Age)  + ' years old (' + str( Age * 12 )  +  ' months), has a GAP of ' + str(GAP) + ', and Studies ' + Subject + '.')

Student Seema is 25 years old (300 months), has a GAP of 3.7, and Studies Math.

# 2.Type Conversion

Convert a float to an integer and explain what happens to the decimal part

In [15]:
Num = 20.2

In [16]:
int(Num)

20